<%- include("../partials/header") %>

<div class="row">
	<div class="col">
		<h1>Help & Support</h1>
		<hr>
		<p style="font-size:1.4em; margin:50px auto 20px auto;">For queries please contact on below given details :</p>
		<p style="font-size:1.4em">Phone : <a>+91 22222222</a></p>
		<p style="font-size:1.4em">E-mail : <a>bank@tsf.in</a></p>
	</div>
</div>

<%- include("../partials/footer") %>